    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <br/><br/>
                <h2>How does it work?</h2>
                <br/>
                <p>Daily C++ Interview is an around 150 day program and it offers you questions and coding problems organized around different topics, such as polymorphism, smart pointers, modern C++ best practices, etc. Some questions come back multiple times during the 5 months so that you better remember, yet there are more than 120 unique questions.</p>
                <p>You sign up with your e-mail address and you get a question or a coding problem in your mailbox every day.</p>
                <p> A question or coding problem that was already asked in interviews. You try to answer the question or solve the problem. It'll stretch your skills, you will learn and grow.</p>
                <p>Those who sign up for the PRO version will also receive the detailed answers and when applicable the ready-to-run code.</p>
                  <br/>
            </div>
            <div class="col-lg-6 col-lg-offset-1">
               <br/><br/>
<iframe width="540" height="420" src="https://64b3a32b.sibforms.com/serve/MUIEAOGW_FjrLy4QrZzceghsl6-trISFLu5lcMKEhtkkvFSsiImxEAIAs0vJUw_idDAwa3KYZxNkXse7x3fUBa9VZVSyKkq_Xs14ce2sgBIdAc4k8EDbRbfnuPd4ZTcl8RVn4WuUzJ2B6ERYtFyMkTMXuVsvSVqnMrZa2Ys63CNbl-AhlFsYxIgkhbTBBCIl-7ryhtdxQnL-dCxT" frameborder="0" scrolling="no" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-height:100%;max-width: 100%;"></iframe>
            
   </div>

    </section>
