<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="text-align: left;">
                
                <p class="text-muted">{{ site.copyright }}</p>
                    
            </div>    
            <div class="col-md-8" style="text-align: right;">
                <ul class="list-inline">
                    
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="mailto:sandor@dailycppinterview.com">Contact</a>
                    </li>
                    <!-- <li class="footer-menu-divider">&sdot;</li> -->
<!--                     <li>
                        <a href="#services">Terms</a>
                    </li> -->
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/privacy">Privacy</a>
                    </li>
                </ul>
                
            </div>

        </div>
    </div>
</footer>
